.has-text-overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 3.6em; /* Adjust the max-height as needed */
  }


  .image-arrows {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .arrow-button {
    background-color: #3498db; /* Choose your desired background color */
    color: #ffffff; /* Choose your desired text color */
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .arrow-button:hover {
    background-color: #2980b9; /* Change the background color on hover if desired */
  }